/*f5f6fa 
 * #e8ebeb 
 *
 * border-color-focused-blue: #4154fa
 * border-color-gray: #c3cad6
 *  */


@font-face {
    src: url("../font/OpenSans-Light.ttf");
}



.leftSide {
	-fx-background-color: #023E8A; 
}

.tfLogin {
	-fx-background-color: transparent;
	-fx-border-color: #023E8A;
	-fx-border-width: 0 0 2 0;
}

.loginButton {
	-fx-background-color: #0077b6;
	-fx-text-fill: #ffffff;
}

.leftSideNavigator {
	-fx-background-color: #2979fe;
	-fx-effect: dropshadow(three-pass-box, rgba(0,0,0,0.8), 10, 0, 0, 0);
}

.white-background-color {
	-fx-background-color: white;
}

.homeBackgroundColor {
	-fx-background-color: #f8f8f9;
}

.leftSideButton {
	-fx-background-color: transparent;
	-fx-text-fill: #ffffff;
}

.leftSideButtonBorder {
	-fx-border-color: #ffffff;
	-fx-border-width: 0.0 0 0.0 5;
	-fx-background-color: #004ecb;
}

.leftSideButton:hover {
	-fx-background-color: #004ECB;
}

.scroll-pane {
	-fx-border-color: white;
}

.table-view  {
	-fx-border-color: white;
}

.table-view:row-selection  {
	-fx-border-color: white;
}

.table-view:row-selection .column-header-background .nested-column-header {
	-fx-border-width: 1.5 0 1.5 0;
	-fx-border-color: #e7eaea;
	-fx-padding: 10 0.0 10 0.0;
	-fx-background-color: #f8f8f9;
}

.table-view:row-selection .column-header-background .nested-column-header .table-column {
	-fx-background-color: #f8f8f9;
}

.table-view:row-selection .column-header-background .filler {
	-fx-background-color: white;
	-fx-border-color: white;
}


.table-view:row-selection .column-header-background .nested-column-header .table-column {
	-fx-text-fill: white;
	
}

.table-view:row-selection .column-header-background .nested-column-header .table-column .label .text {
	-fx-font-family: 'Open Sans';
}

/* 
.date-picker:editable, .date-picker:editable .date-picker-display-node {
	-fx-border-color: white;
	-fx-border-width: 0 0.0 0.0 0;
	-fx-background-color: transparent;
}

.hbox-date-picker {
	-fx-border-color:  #e7eaea;
	-fx-border-radius:  7;
	-fx-border-width: 2;
	-fx-background-color:  #ffffff;
}

.date-picker:editable .arrow-button {
	-fx-background-color: transparent;
	-fx-font-size: 20;
}
*/

	

.date-picker:editable {
	-fx-border-color: #c3cad6;
	-fx-border-radius: 5;
	-fx-background-color: white;
	-fx-pref-height: 35;
}

.date-picker:editable:focused {
	-fx-border-color: #4154fa;
}

.date-picker > .text-field  {
	-fx-background-color: transparent;
	-fx-border-width: 0;
}

.date-picker:editable .arrow-button {
	-fx-background-color: transparent;
	-fx-font-size: 20;
	-fx-border-width: 0;
}

.combo-box {
	-fx-background-color: transparent;
	-fx-border-color: #c3cad6;
	-fx-border-radius: 5;
	-fx-pref-height: 35;
}

.combo-box:focused {
	-fx-border-color: #4154fa;
	-fx-border-radius: 5;
}

.table-column {
  -fx-alignment: CENTER;
}

.dialog-pane {
	-fx-background-color: #f8f8f9;
}

.div {
	-fx-border-width: 1.5 0 1.5 0;
	-fx-border-color: #e7eaea;
	-fx-padding: 8 0.0 8 0.0;
	-fx-background-color: #f8f8f9;
}


.text-field {
	-fx-border-color: #c3cad6;
	-fx-background-color: #ffffff;
	-fx-pref-height: 35;
	-fx-border-radius: 5;
}

.text-field:focused{
	-fx-faint-focus-color: transparent;
    -fx-border-color: #4154fa;
}

.button-blue {
	-fx-background-color: #2979ff;
	-fx-text-fill: #ffffff;	
}

.button-blue:hover, .button-blue:focused {
	-fx-background-color: #418dff;
	-fx-text-fill: #ffffff;	
}